.graph-container {
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
    overflow: hidden;
}


.graph-container:active {
    cursor: grabbing;
}

.node {
    cursor: pointer;
    transition: all 0.2s ease;
    fill: #666;
    transform-origin: center;
    transform-box: fill-box;
}

.node:hover {
    filter: brightness(1.2);
    fill: #ff3e3e;
    transform: scale(1.1);
}

.node-highlighted {
    fill: #ff3e3e !important;
    transform: scale(1.15);
    filter: drop-shadow(0 0 8px rgb(255, 62, 62));
}

.node-connected {
    fill: #983a3a !important;
    transform: scale(1.05);
}

.link {
    transition: all 0.3s ease;
    stroke: #444;
    stroke-opacity: 0.8;
    stroke-width: 1.5;
}

.link-highlighted {
    stroke: #ff3e3e !important;
    stroke-width: 3px !important;
    filter: drop-shadow(0 0 8px rgba(255, 107, 107, 0.6));
}

.node-label {
    font-size: 12px;
    fill: #cccccc;
    text-anchor: middle;
    pointer-events: none;
    font-weight: 500;
    paint-order: stroke;
    stroke: #1e1e1e;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.2s ease;
}
.fade {
    opacity: 0.2 !important;
}

.node-label-highlighted {
    transform: translateY(3px);
    fill: #ffffff;
    font-weight: 600;
    opacity: 1 !important;
}